<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FurnitureStoreWeb</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="~/Css/main.css">
    <link rel="stylesheet" href="~/Css/main-moblie.css">
    <title>Home</title>
</head>
<body>
    <div class="header">
        <div class="content">
            <div class="box-menu-mobile">
                <button>
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
            <nav class="box-menu">
                <ul class="all-list-menu">
                    <li>
                        <a href="" class="hover-a">Home</a>
                        <!-- <a href="">
                            <i class="fa-solid fa-angle-down angle-down"></i>
                        </a> -->
                    </li>
                    <li class="padding-list-menu">
                        <a href="Page/Shop.html" class="hover-a">Shop</a>
                        <!-- <a href="">
                            <i class="fa-solid fa-angle-down angle-down"></i>
                        </a> -->
                    </li>
                    <li class="padding-list-menu">
                        <a href="Page/about.html" class="hover-a">About Us</a>
                        <!-- <a href="">
                            <i class="fa-solid fa-angle-down angle-down"></i>
                        </a> -->
                    </li>
                    <li class="padding-list-menu">
                        <a href="Page/blog.html" class="hover-a">Blog</a>
                        <!-- <a href="">
                            <i class="fa-solid fa-angle-down angle-down"></i>
                        </a> -->
                    </li>
                    <li class="padding-list-menu">
                        <a href="" class="hover-a">Page</a>
                        <a href="">
                            <i class="fa-solid fa-angle-down angle-down"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="box-logo">
                <div class="logo">
                    <a href="index.html">
                        <img src="Picture/logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="box-icon">
                <a href="" class="box-search">
                    <i class="fa-solid fa-magnifying-glass search"></i>
                </a>
                <a href="Page/login.html" class="box-user">
                    <i class="fa-regular fa-user user"></i>
                </a>
                <a href="" class="box-heart">
                    <i class="fa-regular fa-heart heart"></i>
                </a>
                <a href="" class="box-cart">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Phần footer -->
    <div class="box-first-footer">

        <div class="contact">
            <h2>CONTACT US</h2>
            <div class="in">
                <p>Add: 4 Copley Place, 7th Floor, Boston, MA 6</p>
                <p>Tell: 866.453.4748</p>
                <p>HR Fax: 810.222.5439</p>
                <p>Email: sales@funorifurniture.com</p>
            </div>
        </div>

        <div class="contact">
            <h2>CATEGORIES</h2>
            <div class="in d-flex flex-column">
                <a href="">Furniture</a>
                <a href="">Tables</a>
                <a href="">Seating</a>
                <a href="">Desks & office</a>
                <a href="">Storage</a>
                <a href="">Bed & Bath</a>
            </div>
        </div>

        <div class="contact">
            <h2>SERVICES</h2>
            <div class="in d-flex flex-column">
                <a href="">Sale</a>
                <a href="">Quick Ship</a>
                <a href="">New Designs</a>
                <a href="">Accidental Fabric Protection</a>
                <a href="">Furniture Care</a>
                <a href="">Gift Cards</a>
            </div>
        </div>

        <div class="contact">
            <h2>JOIN US</h2>
            <div class="in">
                <div class="box-email">
                    <input type="text" placeholder="Email address...">
                    <button type="submit">
                        <i class="fa-solid fa-envelope"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>
    <script src="https://kit.fontawesome.com/eda05fcf5c.js" crossorigin="anonymous"></script>
    <script src="~/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
