@model IEnumerable<FurnitureStoreData.Models.Category>

<li class="nav-item dropdown px-2">
    <a class="nav-link dropdown-toggle text-dark fw-bold text-decoration-none" href="#" role="button" data-bs-toggle="dropdown">
        Categories
    </a>
    <ul class="dropdown-menu shadow border-0">
        @foreach (var item in Model)
        {
            <li>
                <a class="dropdown-item" asp-controller="Shop" asp-action="Index" asp-route-categoryId="@item.Id">
                    @item.Name
                </a>
            </li>
        }
    </ul>
</li>